body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

#viewer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#viewer {
  width: 600px;      /* ajuste taille ici */
  height: 400px;     /* ajuste hauteur ici */
  border: 1px solid #ccc;
  background: white;
}

select, input, button {
  margin: 10px;
  padding: 8px;
}
